* {
    box-sizing: border-box;
}

*:before, *:after {
    box-sizing: border-box;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
    color: #222;
}

a {
    color: #757575;
    background-color: transparent;
    text-decoration: none;
}

a:focus, details summary:focus {
    outline: none;
    border-color: #80bdff;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

a:hover {
    color: #757575;
    text-decoration: underline;
}

img {
    border-style: none;
}

details summary::-webkit-details-marker {
    display: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header {
    display: flex;
    justify-content: space-between;
    min-width: 320px;
}

.header-nav {
    margin-left: auto;
    padding: 10px;
}

.nav-list {
    display: flex;
    align-items: center;
    color: #757575;
}

.nav-list-item {
    margin-left: 20px;
    position: relative;
    margin-top: 5px;
}

nav .nav-icon {
    display: block;
    width: 35px;
    height: 35px;
}

nav .nav-icon img {
    width: 100%;
    height: 100%;
}

.popup-checkbox {
    display: none;
}

.checkbox-label {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-size: contain;
    background-image: url("images/popup-button.png");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.popup-content {
    display: none;
    position: absolute;
    margin-top: 10px;
    right: -100px;
    height: auto;
    width: 300px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.popup-checkbox:checked ~ .popup-content {
    display: block;
}

.popup-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px 5px 5px;
}
.popup-list-item{
    width: calc(100% / 3);
}
.popup-list-item a{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 10px;
    color: #757575;
    border-radius: 3px;
}
.popup-list-item a:hover {
    text-decoration: none;
    background: #f1f1f1;
}
.more{
    display: grid;
    width: 100%;
    height: 100%;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    background-color: whitesmoke;
    transition: all 150ms ease-in;
}
.more{
    display: grid;
    width: 100%;
    height: 100%;
}
.more:checked{
    background-color: white;
}
.more-button{
    display: none;
    align-items: center;
}

.more.label{
    width: 100%;
    align-items: center;
}
.more-content{
    display: none;
    width: 100%;
}
.more-button:checked ~ .more-content {
    display: block;
}
