* {
  box-sizing: border-box;
  color: #757575;
}

*:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font: 16px/26px "Tahoma", Arial;
  background-color: #f8ffec;
}

a {
  color: #757575;
  text-decoration: none;
}

a:focus {
  outline: none;
  border-color: #34d100;
  box-shadow: 0 0 0 2px rgb(51, 203, 0);
}

a:hover {
  color: #757575;
  text-decoration: underline;
}

ul {
  list-style: none;
}

.header {
  background-color: #d1ffd1;
  display: block;
  border: 2px black solid;
  border-radius: 10px;
  box-shadow: 1px 2px 12px midnightblue;
  margin: 5px 0;
  position: absolute;
  width: 100%;
}

.header-div {
  float: right;
}

.header-div > ul:last-child {
  margin-right: 15px;
}

.div-list {
  display: inline-block;
}

.div-list-item {
  float: left;
  margin: 10px;
  position: relative;
  height: 50px;
  width: 50px;
  text-align: center;
  padding: 2px;
}

.div-list-item .div-icon {
  display: block;
  width: 35px;
  height: 35px;
}

.div-icon img {
  width: 35px;
  height: 35px;
}

.popup-checkbox {
  display: none;
}


.popup-checkbox:checked + .checkbox-label {
  outline: none;
  border: 2px solid #34d100;
}

.checkbox-label {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-size: contain;
  background-image: url("icons/popup-button.png");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.popup-content {
  display: none;
  position: absolute;
  margin-top: 10px;
  right: -100px;
  height: auto;
  width: 300px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  max-height: 450px;
  overflow-y: auto;
}

.popup-checkbox:checked ~ .popup-content {
  display: block;
}

.more-button:checked + .more-label {
  display: none;
}

.popup-list {
  justify-content: center;
  padding: 5px;
}

.popup-list-item {
  width: calc(100% / 3 - 5px);
  display: inline-block;
  height: 80px;
  text-align: center;
  vertical-align: top;
  text-decoration: none;
  margin-bottom: 5px;

}

.popup-list-item a {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 10px;
  color: #757575;
  border-radius: 3px;
}

.popup-list-item a:hover {
  text-decoration: none;
  background-color: whitesmoke;
}

.more {
  width: 100%;
  height: 100%;
  text-align: center;
  cursor: pointer;
}

.more:hover {
  background-color: #f8f8f8;
}


.more-button {
  display: none;
  align-items: center;
}

.more-label {
  display: block;
  width: 100%;
  text-align: center;
  padding: 5px 0;
  cursor: pointer;
  background-color: #f8f8f8;
}

.more-content {
  display: none;
  width: 100%;
}

.more-button:checked ~ .more-content {
  display: block;
  background-color: white;
}

.more-label:hover {
  text-decoration: underline;
}

.popup-icon-square {
  width: 35px;
  height: 35px;
}

.popup-icon-rectangle {
  width: 35px;
  height: 20px;
}

